# ==========================================
# Sysco Odoo Environment Configuration
# ==========================================

# Database Configuration
DB_USER=odoo
DB_PASSWORD=G@rsh@ub2@26
DB_NAME=Garshoub HQ

# Odoo Port
ODOO_PORT=8069

# Production Example:
# DB_USER=odoo
# DB_PASSWORD=Sysc@2@26#
# DB_NAME=odoo
# ODOO_PORT=8069
